
  *{ margin: 0; }
  .header_content{ margin-top: 50px; }

  @media screen and (min-width: 900px) {
    .memberInfo_wrap{ list-style-type: none; display: inline-flex; }
    .memberInfo_wrap img{ width: 36px; height: 36px; }
    .memberInfo_wrap li{ margin: 10px; white-space: nowrap;}
    .logo{ margin-left: 20%;  margin-right: 10%; white-space: nowrap;}
    .logo img{ width: 117px; height: 53px; }
    .logo span{ font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', sans-serif; color: lightgray;  width: 117px;}
    .contents{ display: flex; align-items:baseline; }
    .button_bar{ display: none;}
  }

  @media screen and (max-width: 900px) {
    .memberInfo_box{ 
      top: -50px;
      margin-top: -50px; 
      width: 200px;
      background-color: #ffffff;
      background-color: rgba(222, 213, 213, 0.8); 
    }
    .sub_info img{ width: 30px; height: 30px; }
    .sub_info li{ list-style-type: none; }

    .contents{display: none;}
    .memberInfo_box {
      display: none;
    }
    input {
      position: fixed;
      left: -9999px;
    }
    label {
      cursor: pointer;
    }
    .labelBtn{ margin: 10px; }
    .labelBtn > div{
      width: 40px;
      height: 6px;
      background-color: black;
      margin: 6px 0;
    }
    .closeBtn{
      margin-left: 120px;
     border: 1px solid white;
    }
    #menuBtn:checked ~ .memberInfo_box {
      display: block;
    }
  }

